<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">Hello there {{name}}</h1>
        <p class="lead">Choose a room to chat with other users</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4 mx-auto">
            <div class="h4">Rooms Available:</div>
            <ul class="list-group ">
                <a href="/session1" class="list-group-item">Session1</a>
                <a href="/session2" class="list-group-item">Session2</a>
            </ul>
        </div>
</div>
</div>